:root {
  --black: #000;
  --white: #fff;
  --white-09: rgba(255, 255, 255, 0.9);
  --black-03: rgba(0, 0, 0, 0.3);

  --blue-400: #81B3D2;
  --blue-300: #81B3D3;
  --blue-500: #23A9E1;
  --blue-450: #5496bd;
  --blue-470: #669EC0;

  --gray-100: #F2F2F2;
  --gray-120: #EBEBEB;
  --gray-150: #EEEEEE;
  --gray-200: #E5E5E5;
  --gray-250: #CACACA;
  --gray-300: #ABABAB;
  --gray-350: #A9A9A9;
  --gray-400: #BDBBBC;
  --gray-450: #666666;
  --gray-500: #6A6A6A;
  --gray-600: #333333;

  --brown-600: #491213;
  --brown-500: #766357;
  --brown-450: #766458;
  --brown-610: #503E33;
  --brown-550: #604E43;

  --orange-400: #dc6243;
  --orange-300: #F49774;
  --orange-200: #F4B1A4;

  --red-400: #FF0000;


  ---main-font-family: 'PT Sans', sans-serif;
}

@font-face {
  font-family: "PTSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: local("PTSans-Bold"),

    url("../../fonts/PTSans-Bold.woff2") format("woff2"),

    url("../../fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: local("PTSans"),

    url("../../fonts/PTSans.woff2") format("woff2"),

    url("../../fonts/PTSans.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;

}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}

.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.reset-list dd,
.reset-list dt {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border: 0;
  outline: 0;

}

.display-none {
  display: none;
}

.page-body {
  background-color: var(--gray-100);
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  min-width: 1230px;


}

.container {

  grid-column: 2/3;

  width: 1200px;
  max-width: 1200px;
  max-width: 1200px;

  margin-left: 15px;
  margin-right: 15px;

  background-color: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}


/*-----------------------HEADER------------------------------*/

.main-nav {}

.main-nav-list {}

.reset-list {}

.main-nav-list__item {}

.main-nav-list__link {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
}

.main-nav-list__link:hover,
.main-nav-list__link:focus {
  color: var(--blue-400);
}

.main-nav-list__link:active {
  color: var(--black-03);
}


.main-nav-list__link--active {
  color: var(--brown-500);
}

/*------------------------welcome--------------------------*/

.welcome {
  position: relative;
  min-height: 509px;
  padding-bottom: 57px;
  padding-top: 75px;

  background-repeat: no-repeat, no-repeat;
  background-position: center center, center bottom;
  background-size: 1200px 509px, 1200px 57px;

  text-align: center;
}

.welcome::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;

  background-image: url('../../img/lead-bottom-shape.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1200px 57px;
}

/*-------------------------------features-----------------------------------*/

.features__title {

  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

}

.features__text {
  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;
}

/*----------features-list------*/

.features-item__text-wrapper {

  background-color: var(--blue-400);

  color: var(--white);
}

.features-item__title {
  font-family: var(---main-font-family);

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;

}

.features-item__number {

  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

}

.features-item__text {
  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.features-list__item--small {
  background-color: var(--gray-150);
  color: var(--black);
  text-align: center;
}

.features-list__item--small .features-item__number,
.features-list__item--small .features-item__text {

  color: var(--gray-600);

}

/*------------------------guidance-list-----------------------------*/
.guidance-list__item {
  background-color: var(--white);
}


.guidance-item__title {
  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}

.guidance-item__text {
  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

/*-----------------sign-up----------------------*/
.sign-up__title {

  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;

  text-align: center;
  text-transform: uppercase;

  color: var(--black);
}

.sign-up__text {
  font-family: var(---main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;


  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}
