@font-face {
  font-family: "PTSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: local("PTSans-Bold"),

    url("../../fonts/PTSans-Bold.woff2") format("woff2"),

    url("../../fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: local("PTSans"),

    url("../../fonts/PTSans.woff2") format("woff2"),

    url("../../fonts/PTSans.woff") format("woff");
}
